.complaint-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.complaint-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 90%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 6px #808080;
}

.complaint-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}

.complaint-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 75%;
  overflow-y: scroll;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.button-structure {
  width: auto;
  height: auto;
  border-radius: 3px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0 1rem 0 1rem;
}

.dismiss-button {
  background-color: #027373;
  color: #fff;
  border: 1px solid #fff;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #fff;
}

.dismiss-button:hover {
  background-color: #fff;
  color: #027373;
  border: 1px solid #027373;
}

.remove-button:hover {
  background-color: #fff;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.image-preview {
  width: auto;
  height: 30%;
}

.title-text {
  font-size: 3vh;
  font-weight: 400;
  width: 50%;
  margin-bottom: 0.5rem;
}

.content-text {
  width: 50%;
  margin-bottom: 1.5rem;
}
