@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #172026;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}

.logo-container {
  height: 5rem;
  color: #fff;
}

.logo-image {
  height: 100%;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 40%;
}

.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65vh;
}

.banner-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.banner-title-subtitle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

.banner-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.banner-title {
  font-weight: 700;
  font-size: 10vh;
  color: #fff;
}

.banner-subtitle {
  font-weight: 100;
  font-size: 5vh;
  color: #fff;
}

.banner-image {
  height: 50vh;
}

.download-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: auto;
  background: linear-gradient(to left, #027373 15%, #04bf9d);
  border-end-end-radius: 35px;
}

.download-title-container {
  color: #fff;
}

.download-button {
  background-color: #04bfad;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 100px;
}

.download-button:hover {
  background-color: #fff;
  color: #04bfad;
}

.transparent-division {
  width: 100%;
  height: 10vh;
}

.what-is-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.what-is-title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}

.what-is-title {
  color: #fff;
  font-weight: 500;
  font-size: 5vh;
}

.what-is-subtitle {
  color: #fff;
  font-weight: 300;
  font-size: 3vh;
}

.what-is-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.what-is-image {
  height: 45vh;
}

.emblem-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.emblem-image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}

.emblem-title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 40%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom right, #027373 15%, #04bf9d);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.emblem-title {
  color: #fff;
  font-size: 5vh;
  font-weight: 500;
}

.emblem-subtitle {
  margin-top: 2rem;
  color: #fff;
  font-size: 3vh;
  font-weight: 300;
}

.emblem-button {
  background-color: #04bfad;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 100px;
  margin-top: 2rem;
}

.emblem-button:hover {
  background-color: #fff;
  color: #04bfad;
}

.emblem-image {
  height: 20vh;
}

.line-division {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.line-division-line {
  width: 90%;
  height: 0.5rem;
  background-color: #5fcdd9;
}

.faq-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.faq-title {
  color: #fff;
  font-weight: 500;
  font-size: 5vh;
}

.question-left-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.question-right-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.question-container {
  width: 50%;
}

.question {
  color: #fff;
  font-weight: 500;
  font-size: 5vh;
  margin-bottom: 2rem;
}

.answer {
  color: #fff;
  font-weight: 300;
  font-size: 3vh;
}

.faq-image {
  height: 25vh;
}

.blank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about-us-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.about-us-title {
  color: #fff;
  font-weight: 500;
  font-size: 5vh;
}

.about-us-team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.member-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.member-image {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 100px;
}

.member-name {
  color: #fff;
  font-weight: 300;
  font-size: 3vh;
  margin-top: 2rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vh;
  margin-top: 2rem;
  background-color: #5fcdd9;
}

.footer-text {
  font-weight: 100;
  font-size: 2vh;
  color: #fff;
}

.emblem-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.emblem-page-container {
  display: grid;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  grid-template-columns: auto auto auto auto auto;
}

.emblem-page-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emblem-page-image {
  width: 70%;
}

.emblem-page-title {
  font-weight: 500;
  font-size: 5vh;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  /* Header */
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .logo-container {
    height: 5rem;
    color: #fff;
  }

  .navigation-container {
    display: none;
  }

  /* Banner */
  .banner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 55vh;
  }

  .banner-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    width: 100%;
  }

  .banner-title-subtitle-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
  }

  .banner-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner-title {
    font-weight: 700;
    font-size: 7vh;
    color: #fff;
  }

  .banner-subtitle {
    font-weight: 100;
    font-size: 5vh;
    color: #fff;
  }

  .banner-image {
    height: 25vh;
    margin-bottom: 5rem;
  }

  /* Download */
  .download-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: auto;
    background: linear-gradient(to left, #027373 15%, #04bf9d);
    border-end-end-radius: 35px;
    padding: 2rem;
  }

  .download-title-container {
    color: #fff;
    margin-bottom: 1rem;
  }

  .download-button {
    background-color: #04bfad;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 100px;
  }

  .download-button:hover {
    background-color: #fff;
    color: #04bfad;
  }

  /* What is */
  .what-is-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .what-is-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .what-is-title {
    color: #fff;
    font-weight: 500;
    font-size: 5vh;
  }

  .what-is-subtitle {
    color: #fff;
    font-weight: 300;
    font-size: 3vh;
  }

  .what-is-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .what-is-image {
    height: 40vh;
  }

  /* Emblem */
  .emblem-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .emblem-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    height: 100%;
    width: 100%;
  }

  .emblem-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom right, #027373 15%, #04bf9d);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .emblem-title {
    color: #fff;
    font-size: 5vh;
    font-weight: 500;
  }

  .emblem-subtitle {
    color: #fff;
    font-size: 3vh;
    font-weight: 300;
  }

  .emblem-button {
    background-color: #04bfad;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 100px;
  }

  .emblem-button:hover {
    background-color: #fff;
    color: #04bfad;
  }

  .emblem-image {
    height: 20vh;
    margin: 1rem;
  }

  /* FAQ */
  .faq-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .faq-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .faq-title {
    color: #fff;
    font-weight: 500;
    font-size: 5vh;
  }

  .question-left-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    width: 100%;
  }

  .question-right-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    width: 100%;
  }

  .question-container {
    width: 100%;
  }

  .question {
    color: #fff;
    font-weight: 500;
    font-size: 5vh;
    margin-bottom: 2rem;
  }

  .answer {
    color: #fff;
    font-weight: 300;
    font-size: 3vh;
  }

  .blank-container {
    display: none;
  }

  /* About us */
  .about-us-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .about-us-team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .member-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 30vh;
  }

  /* Emblem page */
  .emblem-page-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 3rem;
    grid-template-columns: auto;
  }
  .emblem-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
  }
}
